.border {
    max-width: 250px;
    padding: 1rem;
    color: white;
    border-width: 3px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        red, 
        rgba(0, 0, 0, 0)
      ) 1 100%;
  }