.card{


 
  
   &::before{

  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px; 
padding: 3px;
  background:linear-gradient(45deg, rgb(144, 137, 252), rgb(255, 128, 181)) border-box;
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
 
          mask-composite: exclude; 
}
    

}
  